body {
  background-color : #ffffff;
  color : #000000;
  margin : 0px 0px 0px 0px;
}
#content {
  background-color : #ffffff;
  position : absolute;
  left : 160px;
  top : 0px;
}
#leftnav {
  position : fixed;
  width : 150px;
  height : 100%; 
  border-right : 2px solid #000;
  margin-right : 15px;
  padding-bottom : 20px;
  background-color : #cccccc;
}

